.row {
    width: auto;
    margin: 0 5%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.header-title {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-title a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: medium;
}

.header-title a:hover {
    text-decoration: underline;
}

.progress-bar {
    display: flex;
    gap: 5px
}

.progress-bar-item {
    width: 20px;
    height: 3px;
    background-color: black;
}

.progress-bar-item.active {
    background-color: var(--primary-color);
}

.slider-container {
    display: flex;
    gap: 5px;
}

.handler {
    border: none;
}

.slider {
    display: flex;
    overflow-x: scroll;
    transition: all 0.2s ease-in-out;
}

.slider::-webkit-scrollbar {
    display: none;
}

.handle {
    border: none;
}

