.search-container {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.search-input {
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
    margin-right: 10px;
}

.search-button {
    border: none;
    background-color: none;
    border-radius: 5px;
    padding: 3px 10px;
    font-size: 10px;
    cursor: pointer;
}

.search-icon img {
    height: 10px;
    width: auto;
}

/* Style the search bar button on hover */
.search-button:hover {
    filter: brightness(0.9);
}
