.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 2%;
}

.logo-link {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: #000;
  }
  
  .logo-link > img {
    height: 40px;
  }
  
  .navbar-directory {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .nav-links {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  
  .nav-button {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #2D9E8B;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    border-style: none;
  }
  
  .nav-link {
    text-decoration: none;
    color: #000;
  
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.2s;
  }
  
  .nav-link:hover, .nav-links a.active {
    padding-bottom: 3px;
    border-bottom: 3px solid #2D9E8B;
  }