.recipe-card {
    width: 250px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    position: relative;
    margin-right: 15px;
}

.recipe-card:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
    transition: all 0.2s ease-in-out;
}

.recipe-card img {
    width: 250px;
    height: 175px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.save-button {
    position: absolute;
    top: 55%;
    right: 3%;
    background-color: var(--primary-color);
    color: #fff;
    border: 2px #fff solid;
    border-radius: 50%;
    cursor: pointer;
    font-size: larger;
    font-weight: 500;
}

.card-description {
    padding: 10px;
    background-color: rgb(245, 245, 245, 0.5);
}

.recipe-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.icon {
    display: flex;
    align-items: center;
    gap: 5px;
}

.icon img {
    height: 20px;
    width: auto;
}

.servings img {
    transform: scale(1.4);
}

h3, p {
    margin: 1px;
}